[Unit]
Description=kafka mirror
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/data/ydata/start.kafka.mirror.sh
#Restart=on-failure
Restart=always
TimeoutSec=10
PrivateTmp=true

[Install]
WantedBy=multi-user.target
