[Unit]
Description=cat jinpai api nginx access log to kafka
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/data/ydata/kafkacat.jinpai.api.ngx.access.sh
#Restart=on-failure
Restart=always
TimeoutSec=10
PrivateTmp=true

[Install]
WantedBy=multi-user.target
